@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

body{
    background: #E7FAFE;
}

.purpleBox{
    background-color: #7A247D;
}

.greyBlueBox{   
    background-color: rgb(229, 250, 254);
}

.greyBlueBoxCart{   
    background-color: rgb(229, 250, 254);
    padding: 30px;
}

#firstSectionIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#titleComesBebes{
    margin-top: 69px;
    font-family: Roboto;
    color: #F5C661;
    font-size: 48px;
    font-weight:900;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

}

#subtitleComesBebes{
    margin-top: 24px;
    margin-bottom: 112px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    color: white;
}

#secondSectionIndex{
    padding-top: 62px;
    padding-bottom: 68px;
    padding-left: 196px;
    padding-right: 196px;
}
.tituloSection{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
}

#conhecaNossaLoja{
    text-align: center;
    margin-bottom: 48px;
}

.categoriashome{
    display: flex;
    flex-direction: row;
}

.categoriasEFotos {
    display: flex;
    flex-direction: column;
    margin-right: 29px;
    margin-top: 19px;
}

.categoriasEFotos > img{
    height: 210px;
    width: 240x;
}

.categoriasEFotos > p{
    background-image: linear-gradient( to right, #7A247D, transparent);
    height: 40px;
    margin-top: -40px;
    font-family: Bellota Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #E5E5E5;  
    
}

.diadasemanaEFotos{
    display: flex;
    flex-direction: column;
    margin-right: 29px;
    margin-top: 19px;
}

.diadasemanaEFotos > img{
    height: 373px;
    width: 240px;
}

#captiondiadasemana{
    background-image: linear-gradient( to right, #7A247D, transparent);
    height: 105px;
    margin-top: -105px;
    font-family: Bellota Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #E5E5E5;  
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#precoECart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 11px;
    padding-bottom: 7px;
    align-items: flex-start;
}

.addToCartBut{
    height: 37px;
    width: 40px;
    border-style: none;
    background-image: url('imgs/cart.png');
    background-color: #F5C661;
}
#cartbutton{
    height: 25px;
    width: 30px;
}

.h3index{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

#diadasemana{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}

#botaoOutrasOpcoes{
    background-color:  #F5C661;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 23px;
    padding: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    color: #000000;
    margin-top: 57px;
}

.centralizar {
    text-align: center;
}

#thirdSectionIndex{
    padding-bottom: 93px;
    padding-top: 35px;
}

#visiteNossaLoja{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #FAFAFA;
    text-align: center;
}

/* SLIDER */

.slider {
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li {
    list-style: none;
    position: absolute;
}

.slider img {
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input {
    display: none;
}

.slider label {
    background-color: #6A066D;
    border: #F5C661;
    border-style: solid;
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label {
    left: 10px;
}

.slider li:nth-child(2) label {
    left: 40px;
}

.slider li:nth-child(3) label {
    left: 70px;
}

.slider img {
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

/* */

#mapRefs{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

#googlemaps{
    border: #F5C661;
    border-style: solid;
}

.mapSubs{
    display: flex;
    flex-direction: row;    
    margin-top: 1em;
}

#iconmapref{
    width: 1.3em;
    height: 1.3em;
}

#submapref{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin-left: 0.5em;
}


#visitFoot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 182px;
    margin-left: 182px;
    margin-top: 52px;
    align-items: center
}

#pessoalcomendo{
    width: 520px;
    height: 310px;
}

a{
    text-decoration: none;
}

/* PAINEL */

.marginpainel{
    margin-left: 199px;
    margin-right: 187px;
}

.introPainel{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    margin-top: 44px;
    margin-bottom: 16px;
    color: #000000;
}
.formTitle{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 14px;
    margin-top: 34px;
}
.navbar{
    background-color: #F5C661;
    height: 50px;
}

.navbuttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 3em;
    margin-right: 3em;
    font-family: Bellota Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-top: 10px;

    color: #000000;
}

.nomesobrenome{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexform{
    display: flex;
    flex-direction: column;
}

.inputForm{
    border-bottom: #7A247D;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    display: flex;
    height: 24px;
    width: 1070px;
    margin-bottom: 23px;
}
::-webkit-input-placeholder{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
}

#inputNome{
    width: 473px;
}

#inputSobrenome{
    width: 521px;
}

#inputNomeAdress2{
    width: 473px;
}

#inputSobrenomeAdress2{
    width: 521px;
}

#inputBairroAdress2{
    width: 473px;
}

#inputCidadeAdress2{
    width: 523px;
}
.titleInput{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 20px;
}

#alinhador{
    text-align: center;
}

/* LISTA DE PRODUTOS */

.lowFontDescript{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

#listaFoodSearch{
    margin-top: 15px;
}

#inputNomeComida{
    width: 412px;
}

#inputOrdenar{
    width: 412px;
    border-style: none;
}

#inputDe{
    width: 150px;
}

#inputAte{
    width: 150px;
}

#flexOrdenarEFiltros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#filtroPreco{
    display: flex;
    flex-direction: Column;
}

#deAte{
    display: flex;
    flex-direction: row;
}

#ordenarEFiltros{
    display: flex;
    flex-direction: column;
}

#flexOrdenar{
    display: flex;
    flex-direction: column;
}

#ordenarPorComSetinha{
    display: flex;
    height: 25px;
    flex-direction: row-reverse;
    border-bottom: #7A247D;;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    align-items: flex-start;
    width: 412px;
}

#setinha{
    width: 17.32px;
    height: 15px;
}

#flexFoodSearch{
    display: flex;
    flex-direction: column;
}

/* single product */


#precoProduto{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #000000;
    font-style: none;
}

#flexContadorEPorcao{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
}

#marginsingleproduct{
    margin-top: 41px;
    margin-bottom:134px;
    margin-right: 190px;
    margin-left:190px;
}


#flexSingProd{
    display: flex;
    flex-direction: row;
}

#textosSingProd{
    margin-left: 105px;
    width: 50em;
}

#botaoAdicionar{
    width: 165px;
    height: 41px;
    left: 1088px;
    top: 326px;
    border: none;
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;

    background: rgba(126, 52, 129, 0.86279);
}

#flexPrecoAdicionar{
    margin-top: 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#maisComidaJaponesa{
    margin-top: 85px;
    font-family: Bellota Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
} 

#maisComidaJaponesa a{
    color: #000000;
    text-decoration: none;
    margin-left: 8px;
}

/* carrinho */

.container-carrinho{
    background: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 100;
}

.aparece-carrinho {
    padding: 2rem;
    background: #F5C661;
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 70%;
    z-index: 100;
    opacity: 1;
    overflow-y: scroll;
}
.aparece-carrinho span#titulo-carrinho {
    font-size: 40px;
    color: #7A247D;
}

.aparece-carrinho span#fechar{
    position: relative;
    left: 50%;
    font-size: 15px;
    top: -3%;
    cursor: pointer;
}

.aparece-carrinho span#fechar:hover{
    color: #7A247D;
    font-size: 20px;
}

.aparece-carrinho hr {
    border: 1px solid #7A247D;
    margin: 1rem auto;
}

.aparece-carrinho button {
    font-size: 18px;
    padding: 0.3rem 1rem;
    background: #7A247D;
    margin: 1rem auto;
    color: snow;
    border: none;
}

.aparece-carrinho button a {
    color: snow;
}

.aparece-carrinho button a:visited{
    color: snow;
}
.hidden {
    display: none;
}

#titulo-carrinho{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;

    color: #6A066D;
}

#mostrar-total{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}

#comprar-carrinho{
    width: 245px;
    height: 41px;
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}
/*********************WOOCOMMERCE DOIDO*****************************/

.woocommerce-Input {

    border-bottom: #7A247D;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    display: flex;
    height: 24px;
    width: 1070px;
    margin-bottom: 23px;
}

.woocommerce-MyAccount-content p:nth-of-type(1){
    margin-bottom: 1em;
    margin-top: 1em;
}

.woocommerce-MyAccount-content{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-decoration: none;

    color: #000000;
}

.woocommerce-form-row{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;

    color: #000000;

}

.woocommerce-EditAccountForm{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: justify;

    color: #000000;
}

.margingeral{
    margin-left: 199px;
    margin-right: 190px;
    margin-top: 44px;
    margin-bottom: 44px;
}

.margingeral a{
    color:#000000;
    text-decoration: none;
}

.margingeral a:hover {
    color: #F5C661;
    text-decoration: underline;
  }

.woocommerce-Button#salvarAlteracoes{
    background-color: #7A247D;
    border-style: none;
    width: 289px;
    height: 41px;
    margin-bottom: 60px;
    margin-top: 30px;
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;    
    color: #FFFFFF;
}

nav.header2 ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:  #F5C661;
    font-family: Bellota Text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}



.header2 ul a{
    color:#000000;
    text-decoration: none;
}

.header2 ul a:visited{
    color:#000000
}

.sla{
    z-index: 1;
    position: relative;
}

.uppercaseTitle{
    text-transform:uppercase;
}


.woocommerce-ordering{
    border-style: none!important;
    border: none!important;
    outline: 0!important;
}

.orderby{
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid #7A247D!important;
    font-family: Bellota Text;  
    background-color: transparent;
    width: 412px;
}



.woocommerce-result-count{
    display: none;
}


.columns-4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.columns-4 ul a{
    display: flex;
    justify-content: space-between!important;
}

.columns-4 li img{
    width: 240px!important;
    height: 373px!important;
    margin-bottom: -40px;
}

.onsale{
    display: none;
}



.columns-4 li{
    background-image: linear-gradient( to right, #7A247D, transparent);
    text-decoration: none;
    font-family: Bellota Text;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #FAFAFA;
}

.columns-4 li a{
    color: #FAFAFA;
}

.added_to_cart{
    display: none;
}

.woocommerce-billing-fields h3{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #000000;

}

.form-row{
    font-family: Bellota Text;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;

    color: #000000;

}

#notYetShown{
    margin-bottom: 222px;
}

.u-column1 header{
    background-color: transparent;
    justify-content: space-between;
    width: 200%;
}

