/* Theme Name: Projeto Final 
Author: Guilherme de Brito Ferreira 
Description: Projeto final do treinamento da IN 
Version: 1 */

@import url(./css/reset.css);
@import url(./css/index.css);   
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');

header{
    background-color: #7A247D;
    position: sticky;
    top:0;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
    justify-content: center;
}

#logo{
    width: 77px;
    height: 50px;
}

#avatarLogo, #cartLogo, #magnifier {
    width: 30px;
    height: 30px;
}

#avatarLogo:hover, #cartLogo:hover, #magnifier:hover{
    cursor: pointer;
  }

#avatarLogo, #cartLogo{
    margin-left: 1em;
}


#botaoLupa{
    background-color: transparent;
    border: none;
    width: 27px;
    height: 27px;
    padding-top: 0px;
    margin-right: 4px;
}

#searchBar{
    border-top: none;
    border-left: none;
    border-right: none;
}

#searchText{
    background-color: transparent;
    height: 2em;
    width: 30em;
    border-style:hidden;
    font-family: Bellota Text;
    font-style: normal;
    font-weight: 300;
    font-size: 1em;
    line-height: 23px;



    color: #F5C661;
}
input[type="text"]:focus {
    outline:none;
}   


#searchBox{
    border-bottom: #F5C661;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    display: flex;
    margin-left: 1.5em;
    margin-right: 12em;
}

#botaoFacaUmPedido{
    background-color:  #F5C661;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    line-height: 23px;
    padding: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
    transition: 0.3s;
    color: #000000;
}

#botaoFacaUmPedido:hover {
    transition: 0.3s;
    background-color: #cf9821;
    cursor: pointer;

  }

footer{
    background: #F5C661;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: Bellota Text;
    color: #000000;
    font-weight: 700;
    justify-content: space-around;
    
}

.hidden{
    display: none;
}

#barrinha{
    border-bottom: #7A247D;
    border-top: #7A247D;
    border-style: solid;
    width: 20em;
    
}

#margemBarrinha{
    margin-top: 30px;
    margin-bottom: 30px;
}

.flexCartItem{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

#eachProductCart{
    margin-bottom: 30px;
}
